
*{
    padding: 0;
    margin: 0;
}





body{
    background-image:url(./thumb-1920-357538.jpg);
    font-family: 'Times New Roman', Times, serif;

  }

nav{
    background-color:rgb(131, 150, 161);
    height: 50px;
    width: 100%;
    text-align:end;
    top:0;
    
}

h1{
    text-align: center;
    font-size: 3em;
    text-shadow: grey 5px 5px 5px;
}
.header{
    position: relative;
    border-radius: 20px;
    width: 800px;
    height: 400px;
    border: black solid 2px;
    box-shadow: grey 5px 5px 10px;
}
p{
    font-size: large;
    margin: 40px;
    margin-right: 475px;
    text-align: justify;
    text-indent: 2%;
    font-variant-caps:titling-caps;


}
footer{
    width: 100%;
    background-color:rgb(131, 150, 161);
    font-size: 20px;
    padding: 10px;
    
}



